.container {
  display: flex;
}
.secao-50 {
  width: 50%;
  height: 100vh;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-center {
  display: inline-block;
  text-align: start;
}
